<p>
    Welcome to URL SHORTNER</p>
<br>
<br>
<form method="POST" action="/">
  <label for="inputURL">Please input a URL:</label>
  <br>
  <input type="text" name="inputURL" id="inputURL">
  <br>
  <input type="submit" value="Submit" name="submit" onclick()=>
</form>

<p> hello </p>
<div>{{url.generatedURL}}</div>
<div> {{url.inputURL}}</div>

<p> Input URL:{{ url.inputURL}}, Short URL:<a href ={{url.inputURL}}>{{url.generatedURL}}</a></p>

<script type="text/javascript">

</script>
